<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style >
    img{
        height:300px;
    }
    #catagories{
        padding-top:20px;
        padding-bottom:20px;
    }
</style>
<div class="container text-center" id="catagories">
    <div class="row row-cols-xs-1 row-cols-sm-2 row-cols-md-4 g-md-2">
      <div class="col col-xs-12 col-sm-6 col-md-3">
        <div class="card" style="width: 18rem;">
          <h5 class="card-title">Computers</h5>
          <img src="/images/Computer.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="#" class="btn btn-primary">View</a>
          </div>
        </div>
      </div>
      <div class="col col-xs-12 col-sm-6 col-md-3">
        <div class="card" style="width: 18rem;">
          <h5 class="card-title">Electronics</h5>
          <img src="/images/pexels-ovan-62689.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="#" class="btn btn-primary">View</a>
          </div>
        </div>
      </div>
      <div class="col col-xs-12 col-sm-6 col-md-3">
        <div class="card" style="width: 18rem;">
          <h5 class="card-title">Home & Kitchen </h5>
          <img src="/images/Home and Kitchen.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="#" class="btn btn-primary">View</a>
          </div>
        </div>
      </div>
      <div class="col col-xs-12 col-sm-6 col-md-3">
        <div class="card" style="width: 18rem;">
          <h5 class="card-title">Men's Fashion</h5>
          <img src="/images/pexels-pixabay-325876.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="#" class="btn btn-primary">View</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-cols-xs-1 row-cols-sm-2 g-2">
      <div class="col col-xs-12 col-sm-6 col-md-3">
        <div class="card" style="width: 18rem;">
          <h5 class="card-title">Women's Fashion</h5>
          <img src="/images/pexels-mart-production-7679444.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="#" class="btn btn-primary">View</a>
          </div>
        </div>
      </div>
      <div class="col col-xs-12 col-sm-6 col-md-3">
        <div class="card" style="width: 18rem;">
          <h5 class="card-title">Sports</h5>
          <img src="/images/Sports.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="#" class="btn btn-primary">View</a>
          </div>
        </div>
      </div>
      <div class="col col-xs-12 col-sm-6 col-md-3">
        <div class="card" style="width: 18rem;">
          <h5 class="card-title">Gym & Fitness</h5>
          <img src="/images/Fitness.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="#" class="btn btn-primary">View</a>
          </div>
        </div>
      </div>
      <div class="col col-xs-12 col-sm-6 col-md-3">
        <div class="card" style="width: 18rem;">
          <h5 class="card-title">Health & Household</h5>
          <img src="/images/pexels-dmitry-zvolskiy-2062426.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="#" class="btn btn-primary">View</a>
          </div>
        </div>
      </div>
    </div>
  </div>